@use '../var';

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(126, 77, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 20rem;
    overflow: hidden;
}
.btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
}
.frontBtn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 2rem;
}
.backBtn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 2rem;
    display: none;
}
.topBtn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 2rem;
    display: none;
}
.bottomBtn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 2rem;
    display: none;
}
.rightBtn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 2rem;
    display: none;
}
.leftBtn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 4rem 2rem;
    display: none;
}