@use '../var';

.cube{
    position: relative;
    width: 10rem;
    height: 10rem;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    &__face{
        position: absolute;
        width: 10rem;
        height: 10rem;
        opacity: 1;
        transition-duration: 2s;
        transform: scale(0);
        border-radius: 50%;
    }
    &__front{
        background-color: blue;
    }
    &__back{
        background-color: greenyellow;
    }
    &__top{
        background-color: plum;
    }
    &__bottom{
        background-color: orange;
    }
    &__right{
        background-color: purple;
    }
    &__left{
        background-color: grey;
    }
// animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: spin 3s ease-out 34500ms forwards;
    @keyframes spin {
        0%{
            transform: rotateY(-35deg) rotateX(-35deg);
        }
        100%{
            transform: rotateY(-755deg) rotateX(-395deg);
        }
    }
}